<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Wallwhiz"
        tools:targetApi="31">
        <activity
            android:name=".Adminprofile"
            android:exported="false" />
        <activity
            android:name=".Truck"
            android:exported="false" />
        <activity
            android:name=".Delivery"
            android:exported="false" />
        <activity
            android:name=".order"
            android:exported="false" />
        <activity
            android:name=".AR"
            android:exported="false" />
        <activity
            android:name=".Oilpaint"
            android:exported="false" />
        <activity
            android:name=".WoodenArt1"
            android:exported="false" />
        <activity
            android:name=".Woodenart"
            android:exported="false" />
        <activity
            android:name=".mosaic"
            android:exported="false" />
        <activity
            android:name=".Digital"
            android:exported="false" />
        <activity
            android:name=".PencilActivity"
            android:exported="false" />
        <activity
            android:name=".Woodenfram"
            android:exported="false" />
        <activity
            android:name=".Wooden_frame"
            android:exported="false" />
        <activity
            android:name=".Wooden"
            android:exported="false" />
        <activity
            android:name=".Woodenframe"
            android:exported="false" />
        <activity
            android:name=".Glassframe"
            android:exported="false" />
        <activity
            android:name=".Acrylicdesgin"
            android:exported="false" />
        <activity
            android:name=".Acrylic"
            android:exported="false" />
        <activity
            android:name=".Acrylicactivity"
            android:exported="false" />
        <activity
            android:name=".SizeActivity"
            android:exported="false" />
        <activity
            android:name=".UploadImage"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>